@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ShareOpps | We share Opportunities !!!!</h1>
    <p class="lead">A marketplace platform that aims to conveniently and reliably connect youth to
                   industry opportunities such as bursaries, competitions, internships etc..</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register with us</h2>
        <p>
            ShareOpps gives you the access to reach your dream. The biggest challenges students face when seeking 
            opportunities is reliability and convenient access to opportunities and remembering deadlines while 
            balancing school activities. A large portion of opportunities by industry are also not reaching a larger 
            portion of the talent market due to inadequate marketing.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who needs ShareOpps?</h2>
        <p>The platform offers opportunities for dreamers in any level and proffession. From 
        High School, College Students, Undergradutes, PHD Holders and anyone seeking to
        jump start their career</p>
       
    </div>
    <div class="col-md-4">
        <h2>ShareOpps App</h2>
        <p>Get </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>